{
  "settings": {},
  "parser": "babel-eslint",
  "plugins": ["prettier", "babel"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "error"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "arrowFunctions": true
    }
  },
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended"],
  "globals": {
    "require": true,
    "__DEV__": true
  }
}
